.container {
  background-color: #ffffff;
  border-radius: 16px;
  height: 100%;
  min-width: 368px;
  max-width: 100%;
  margin: 8px;
  color: #706f6f;
  font-weight: bold;
  text-align: center;
  position: relative;
}

img {
  filter: blur(10px);
  height: auto;
  margin: auto;
}

h1 {
  position: absolute;
  top: 40%;
  left: 27%;
  color: var(--primary-dark);
}
