<div class="select-container">
  <mrt-label>{{ label }}</mrt-label>
  <mat-form-field>
    <mat-icon matSuffix>expand_more</mat-icon>
    <mat-select
      [ngModel]="selectedOptions"
      (ngModelChange)="onChange($event)"
      class="custom-select"
      [multiple]="multiple"
      (valueChange)="valueSelected($event)"
      [disabled]="!options.length || disabled"
    >
      <!-- Remove comment to have a searchable select. It needs some implementation to work. -->
      <!-- <mat-option>
        <ngx-mat-select-search
          [formControl]="control"
          placeholderLabel="Buscar"
          [showToggleAllCheckbox]="true"
          (keyUp)="filterOptions()"
        ></ngx-mat-select-search>
      </mat-option> -->
      <mat-option
        *ngIf="multiple && options.length"
        (click)="toggleSelectAll()"
        [value]="selected"
      >
        Todas
      </mat-option>
      <mat-option *ngIf="!multiple">Nenhuma</mat-option>
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
