.container {
  display: inline-flex;
  flex-direction: column;
  margin: 0 8px;
  width: 100%;
}

input {
  height: 44px;
  border: 2px solid #f4f5f7;
  border-radius: 4px;
  padding: 4px 16px;
  width: 95%;
}

input:focus {
  border: 2px solid #484cb8 !important;
  outline: none;
}

/* Remove if wanted to have the native icon and open the calendar by clicking it */
/* input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
} */

.datetimepicker-container {
  position: relative;
}

.datetimepicker-icon {
  font-size: 24px;
  position: absolute;
  right: 16px;
  top: 11px;
  color: #90a1df;
}
