<div class="container">
  <mrt-label>{{ label }}</mrt-label>
  <div class="datetimepicker-container">
    <!-- Remove this icon the have the native icon, being possible to open the calendar -->
    <!-- <mat-icon class="datetimepicker-icon">event</mat-icon> -->
    <input
      id="datetimepicker"
      matInput
      type="datetime-local"
      placeholder="Data/Hora inicio"
      [value]="formatDate(value)"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
    />
  </div>
</div>
