.accordion-header {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 16px;
  margin: 8px;
}

.accordion-content {
  border-radius: 16px;
  background-color: #ffffff;
  margin: 8px;
  padding: 8px;
}

.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-header-results {
  border-left: solid 1px #d6d7da;
  display: flex;
  padding: 0 10px;
  margin-left: auto;
}

.validated,
.loaded {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #706f6f;
}

.validated-number,
.loaded-number {
  border-radius: 4px;
  padding: 2px 8px;
  margin-left: 8px;
  font-weight: 500;
}

.validated-number {
  color: #14c145;
  border: 2px solid rgba(20, 193, 69, 0.28);
  margin-right: 24px;
}

.loaded-number {
  color: #f5821f;
  border: 2px solid #eedcba;
}

.accordion-content-filter-buttons {
  display: flex;
  margin: 8px;
}

.accordion-content-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 8px;
}

.accordion-content-header-title {
  font-weight: 500;
  color: var(--neutral-darkest);
}

.accordion-content-header-clean {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: var(--feedback-danger);
  font-size: 14px;
}

.accordion-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content-footer-more {
  margin: 8px 16px;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-medium);
}

.top-row {
  display: grid;
  grid-template-columns: 250px 250px auto 20% 20%;
}

.bottom-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
