<mrt-hotkeys [hotkeys]="hotkeys"></mrt-hotkeys>
<div class="accordion">
  <div class="accordion-header">
    <mrt-button
      class="accordion-header-advanced-button"
      (click)="openFilters($event)"
      text="Filtro Avançado"
      leftIcon="filter_alt"
      icon="expand_more"
    />
    <mrt-chip [items]="['Operador', 'Praça', 'Categoria']" />
    <div class="accordion-header-results">
      <div class="validated">
        <p>Validados</p>
        <p class="validated-number">10</p>
      </div>
      <div class="loaded">
        <p>Carregados</p>
        <p class="loaded-number">15</p>
      </div>
    </div>
  </div>
  <div [@advancedFilterAnimation]="animationState">
    <div class="accordion-content">
      <div class="accordion-content-header">
        <p class="accordion-content-header-title">Filtro Avançado</p>
        <!-- <button class="accordion-content-header-clean" (click)="init()">
          Limpar todos
        </button> -->
      </div>
      <div class="accordion-content-main">
        <form [formGroup]="form" class="accordion-content-filters">
          <!-- {{ this.form.value | json }} -->
          <div class="top-row">
            <mrt-datetimepicker
              label="Data/Hora de"
              formControlName="fromDateTime"
            />
            <mrt-datetimepicker
              label="Data/Hora até"
              formControlName="toDateTime"
            />
            <mrt-select
              label="Concessionária"
              [options]="tollCompanies"
              (selectedValue)="onTollCompanySelection($event)"
              class="tollCompany"
              formControlName="tollCompanies"
            />
            <mrt-select
              label="Praça"
              (selectedValue)="onPlazaSelection($event)"
              [options]="plazas"
              [multiple]="true"
              formControlName="plazas"
            />
            <mrt-select
              label="Tipo de anomalia"
              [options]="anomalyTypes"
              formControlName="anomalyTypes"
            />
          </div>
          <div
            [@moreFilterAnimation]="moreFilterAnimationState"
            class="bottom-row"
          >
            <mrt-select
              label="Modo via"
              [options]="laneModes"
              formControlName="laneModes"
            />
            <mrt-select
              label="Categoria"
              [options]="vehicleClasses"
              formControlName="vehicleClasses"
            />
            <mrt-select
              label="Tipo de pagamento"
              [options]="paymentTypes"
              formControlName="paymentTypes"
            />
            <mrt-select
              label="Sentido"
              [options]="laneDirections"
              formControlName="laneDirections"
            />
            <mrt-select label="Via" [options]="lanes" formControlName="lanes" />
            <mrt-input
              type="text"
              label="ID Transação"
              formControlName="transactionIds"
            />
            <mrt-input
              type="text"
              label="Operador"
              formControlName="operatorId"
            />
          </div>
        </form>
      </div>
      <div class="accordion-content-footer">
        <button
          (click)="openMoreFilters($event)"
          class="accordion-content-footer-more"
        >
          {{ moreFilterAnimationState === "closed" ? "Ver mais" : "Ver menos" }}
        </button>
        <div class="accordion-content-filter-buttons">
          <mrt-button
            class="accordion-content-filter-button"
            (click)="openFilters($event)"
            text="Cancelar"
          />
          <mrt-button
            class="accordion-content-filter-button"
            (click)="onFilter()"
            text="Aplicar"
          />
        </div>
      </div>
    </div>
  </div>
</div>
