button {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark);
  color: #ffffff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 8px;
  width: auto;
}

.right-icon {
  margin-left: 8px;
}

.left-icon {
  margin-right: 8px;
}
