button {
  display: flex;
  justify-content: space-between;
  background-color: #011764;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

mat-icon {
  margin-left: 10px;
}
