.container {
  margin: 32px 8px 100px;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

table {
  background: transparent;
}

th {
  color: #718797;
  font-size: 14px;
  font-weight: bold;
}

td {
  font-size: 14px;
  color: #718797;
}

::ng-deep .mdc-checkbox__background {
  border-radius: 50% !important;
}

::ng-deep
  .mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: #484cb8 !important;
  background-color: #484cb8 !important;
}

::ng-deep .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #484cb8;
  --mdc-checkbox-selected-hover-icon-color: #484cb8;
  --mdc-checkbox-selected-icon-color: #484cb8;
  --mdc-checkbox-selected-pressed-icon-color: #484cb8;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background-color: #484cb8;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__ripple {
  background-color: #484cb8;
}

.chevron {
  color: #98a2b6;
  margin-left: 16px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.actions-buttons {
  color: #011764;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
