.container {
  margin: 8px;
}

::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #eff0f6;
  border-radius: 4px;
  color: #1e1e1e;
  font-size: 14px;
}

mat-icon {
  font-size: 18px !important;
  font-weight: bold;
  color: #6e7191;
}

::ng-deep
  .mat-mdc-standard-chip.mdc-evolution-chip--selectable:not(
    .mdc-evolution-chip--with-primary-icon
  ) {
  height: 28px;
}
